* {
  font-family: "Baloo Bhaijaan 2", cursive;
}
.App {
  font-family: "Baloo Bhaijaan 2", cursive;
  text-align: center;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-background {
  background-color: #5d00ff;
}

.bg-light::after {
  background-color: #5d00ff !important;
  color: white !important;
}
.hidden-title {
  visibility: visible;
}
.button-menu {
  visibility: hidden;
}
.nav-color {
  text-decoration-color: #5d00ff;
  color: #5d00ff;
  border-radius: 5%;
}
.img-profile {
  width: 200px;
  height: 200px;
}
.img-profile-min {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
.img-profile-min:hover {
  padding: 0%;
  background-color: #5d00ff;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
}
.nav-color:hover {
  border-radius: 5%;

  text-decoration-color: #5d00ff;
  color: white;
  background-color: #7700ff;
  font-size: medium;
  transition: ease-in-out 0.3s;
}
.nav-color:active {
  border-radius: 5%;
  color: #ffff;
  text-decoration-color: white;
  background-color: indigo;
  transition: ease-out 0.3s;
}
.btn-primary {
  background-color: #5d00ff !important;
  border-color: #5d00ff !important;
  color: white;
  font-size: medium;
  border-radius: 5%;
  transition: ease-in-out 0.3s;
}
.portada {
  image-rendering: optimizeQuality;
  image-resolution: high;
  background-size: cover;
  background-repeat: no-repeat;

  height: 30vh;

  width: 100%;
}
.admin-item {
  text-decoration-color: #5d00ff;
  color: #5d00ff;
}
.admin-item:hover {
  text-decoration-color: #5d00ff;
  color: white;
  background-color: #7700ff;
  font-size: medium;
  transition: ease-in-out 0.3s;
  transform: translateX(10px);
}
.admin-item:active {
  color: #ffff;
  text-decoration-color: white;
  background-color: indigo;
  transition: ease-out 0.3s;
}

.btn-outline-primary {
  border-color: #5d00ff !important;
  color: #5d00ff !important;
}
.btn-outline-primary:hover {
  border-color: #5d00ff !important;
  background-color: #5d00ff !important;
  color: white !important;
}
.g-button {
  background-image: url("./assets/google.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.w-18 {
  width: auto;
}
.img {
  width: auto;
  height: 200px;
}
.card {
  color: #5d00ff;
}
.card:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
  color: #5d00ff;
}

.card:active {
  transition: ease-out 0.2s;
  transform: translateY(-5%);
  background-color: #5d00ff;
  color: white;
  text-decoration-color: white;
}

.img-carousel {
  width: auto;
  height: 480px;
}
.showDropDown {
  visibility: visible;
}
.showItem {
  visibility: visible;
}
.showItem:active .item {
  visibility: visible;
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
}
.main-color {
  text-decoration-color: #5d00ff;
  color: #5d00ff;
}

.my-outlined-button {
  border-color: #5d00ff;
  border-style: ridge;
  color: #5d00ff;

  padding: 1%;
  border-width: 1.8px;
}
.my-outlined-button:hover {
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
  background-color: #7700ff;
  transition: ease-in-out 0.3s;
}
.red {
  color: black;
}
.red:hover {
  color: red;
}
.my-btn {
  background-color: #5d00ff;
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
}
.my-btn:hover {
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
  background-color: #7700ff;
  transition: ease-in-out 0.3s;
}

.text-button {
  max-width: 300px;
  text-decoration-color: #5d00ff;
  color: #5d00ff;
}
.text-button:hover {
  text-decoration-color: #5d00ff;
  color: white;
  background-color: #5d00ff;
  transition: ease-in-out 0.3s;
  transform: scaleY(1.1) scaleX(1.1);
}
.text-button:active {
  color: #ffff;
  text-decoration-color: white;
  background-color: #5d00ff;
}
.bg-main-color {
  background-color: #5d00ff;
}
.link-social {
  color: white;
  text-decoration-color: white;
}
.link-social:hover {
  color: deeppink;
  text-decoration-color: deeppink;
  transition: ease-in-out 0.3s;
  transform: scaleY(1.1) scaleX(1.1);
}

.img-profile-nav {
  display: inline-flex;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.img-profile-nav:hover {
  display: inline-flex;
  padding: 0%;
  background-color: #5d00ff;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
}
.my-shadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  .navbar-collapse {
    background-color: white;
    position: fixed;
    top: 0px; /* adjust to height of navbar */
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
  }
  .showDropDown {
    display: none;
  }

  .icon {
    height: 10px;
    width: 10px;
  }
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
  .w-18 {
    width: 100%;
  }
  .button-menu {
    font-size: large;
    font-weight: bold;
    visibility: visible;
  }
  .button-menu:active {
    background-color: #5d00ff;
    color: white;
    font-size: large;
    font-weight: bold;
    visibility: visible;
  }
  .menu-item {
    visibility: hidden;
  }
  .text-justify {
    text-align: justify;
  }

  .hidden-title {
    visibility: hidden;
  }
  .nav-color .row {
    display: block;
  }
}
