
.App {
  text-align: center;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-background {
  background-color:#5D00FF ;
}

.hidden-title{
  visibility: visible;
}
.button-menu{
  visibility: hidden;
}
.nav-color{
text-decoration-color: #5D00FF;
color: #5D00FF;
border-radius: 5%;


}
.g-button{
  background-image: url("./assets/google.png");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.nav-color:hover{
border-radius: 5%;

text-decoration-color: #5D00FF;
color: white;
background-color: #7700ff;
font-size: medium;
transition: ease-in-out 0.3s;
transform: scaleY(1.1) scaleX(1.0);
}
.nav-color:active{
border-radius: 5%;
color: #FFFF;
text-decoration-color: white;
background-color: indigo;
transition: ease-out 0.3s;
transform: translateY(-5%);
}
.w-18{
  width: auto;
}
.img{
  width: auto;
  height: 200px;
}
.card:hover {
  transition: ease-in 0.3s;
  transform: scale(1.1);
  color: #5D00FF;
}

.card:active {
  transition: ease-out 0.3s;
  transform: translateY(-5%);
  background-color: #5D00FF;
  color: white;
}

.img-carousel{
  width: auto;
  height: 480px;
}
.main-color{
  text-decoration-color: #5D00FF;
color: #5D00FF;
}

.my-outlined-button{
  border-color: #5D00FF;
  border-style: ridge;
  color: #5D00FF;

  padding: 1%;
  border-width: 1.8px;
}
.my-outlined-button:hover{
 
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
  background-color: #7700ff;
transition: ease-in-out 0.3s;

}
.my-btn{
  background-color: #5D00FF;
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
}
.my-btn:hover{
 
  border-style: ridge;
  color: white;

  padding: 1%;
  border-width: 1.8px;
  background-color: #7700ff;
transition: ease-in-out 0.3s;

}

.text-button{
  max-width: 300px;
  text-decoration-color: #5D00FF;
  color: #5D00FF;
  }
  .text-button:hover{
  text-decoration-color: #5D00FF;
  color: white;
  background-color: #5D00FF;
  transition: ease-in-out 0.3s;
  transform: scaleY(1.1) scaleX(1.1);
  }
  .text-button:active{
  color: #FFFF;
  text-decoration-color: white;
  background-color: #5D00FF;

  
  }
  .bg-main-color{
    background-color: #5D00FF;
  }
  .link-social{
  color: white;
  text-decoration-color: white;

  }
  .link-social:hover{
    color: deeppink;
    text-decoration-color: deeppink;
    transition: ease-in-out 0.3s;
    transform: scaleY(1.1) scaleX(1.1);
  }

  

@media screen and (max-width: 600px) {
  .w-18{
    width: 100%;
  }
.button-menu{
  font-size: large;
  font-weight: bold;
  visibility: visible;
}
.button-menu:active{
  background-color: #5D00FF;
  color:white;
  font-size: large;
  font-weight: bold;
  visibility: visible;

}
.menu-item{
  visibility: hidden;
}
.text-justify{
  text-align: justify;
}

.hidden-title{
  visibility: hidden;
}
.nav-color .row{
  display: block;
}

}
  

