
  body {

    margin: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Baloo Bhaijaan 2', cursive;
  }
  













